<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h2>My Note</h2>
    <p>I like java and Spring 😊</p>
    <br>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti veniam dolor sit at magni ratione sed minima aspernatur quis molestias perspiciatis quibusdam optio voluptatum, atque laudantium corrupti. Neque, unde architecto.
        Nemo consequatur culpa maxime provident voluptatibus laborum atque a laudantium, aliquam vitae sequi perferendis dolor minima tempore hic facilis perspiciatis eos et voluptates officiis! Tempora, expedita. Beatae cupiditate totam ratione.
        Eaque tenetur hic nihil, error veniam at ab quia consequatur quam provident nostrum! Dolore possimus molestiae incidunt in dolorum voluptatibus asperiores laborum fugiat praesentium eveniet minus itaque distinctio, odit sint?
        Aliquid ipsa optio praesentium a? Impedit quaerat reiciendis quae eum, molestias tempore iure accusamus ut repudiandae amet molestiae sequi exercitationem adipisci tenetur maxime sit harum error iusto voluptatum ipsum unde?
        Debitis id recusandae ut cumque atque laboriosam corporis qui quis iusto ipsum a, placeat, ab molestiae nisi, harum hic. Quasi beatae recusandae dolorum asperiores tempora ipsum commodi doloribus praesentium dolores?</p>
    <b>USERNAME : <input type="text" name="name"></b><br><br>
    <b>PASSWORD : <input type="pass" name="password"></b><br><br>
    <button id="Submit">Submit</button>
</body>
</html>