<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header><h1><ul>My Heading</ul></h1></header>
    <p>Hello Spring 😊</p>

    <p th:text="|I Like ${name}|"></p>
    <dl>
        <dt>Student Details</dt>
        <dd th:text="${student.roll}"></dd>
        <dd th:text="${student.name}"></dd>
        <dd th:text="${student.fee}"></dd>
    </dl>
</body>
</html>