<!DOCTYPE html>
<html lang="en">

<head th:replace="~{common/fragment :: head}"></head>

<body>
    <script src="/home.js"></script>
    <header th:replace="~{common/fragment :: header}"></header>
    <main class="container-fluid mt-3">
        <div class="text-end">
            <a href="/form" class="btn btn-primary">Add Blog</a>
        </div>

        <section class="container mt-3">
            <div class="p-3 shadow-lg rounded my-3 d-flex justify-content-between align-items-center" role="button"
                th:each="content, field : ${contents}" th:onclick="|onHeadingClick(${content.id})|">
                <h3
                    th:text="|${(field.index + 1) < 10 ? '0' + (field.index + 1) : (field.index + 1)  }. ${content.heading}|">
                </h3>
                <a th:href="|/content/remove?id=${content.id}|" class="text-decoration-none">🗑</a>
            </div>

        </section>
    </main>
</body>

</html>
